.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Nav Styles*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 100px;
}
.nav-title {
  font-weight: bolder;
  font-size: 28px;
}
.btn-primary {
  font-weight: 600;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 17px 24px;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(../asset/Hero-bg.png);
  background-repeat: no-repeat;
}

.banner-pic {
  text-align: center;
}

.banner-content {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}
.banner-content .future {
  font-weight: bolder;
  font-size: 48px;
}
.btn-primary-black {
  font-weight: 600;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 5px;
  padding: 17px 24px;
}
/* Web Development Section*/
.web-dev {
  margin: 0px 100px;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #f9fafc;
  padding: 30px 100px;
  border-radius: 16px;
}
.web-dev .title {
  text-align: center;
}
.header {
  font-weight: bolder;
  font-size: 32px;
  text-align: center;
}
.header-content {
  font-weight: bold;
  font-size: 20px;
  color: #0d1321;
}
.web-dev .web-dev-1 {
  display: flex;
  padding: 20px;
  align-items: center;
  margin: 10px 0px;
  justify-content: space-between;
}
/* .web-dev .web-dev-1 img {
  max-height: 200px;
  max-width: 200px;
} */
.web-dev-content {
  border-radius: 16px;
  font-size: 16px;
  padding: 20px;
  background-color: #fdfdfd;
  width: 450px;
}

.btn-primary-learn {
  font-weight: 600;
  background-color: white;
  border: 1px solid black;

  padding: 17px 24px;
}
.web-dev .web-dev-2 {
  display: flex;
  align-items: center;
  border-radius: 16px;
}

.characters {
  font-size: 16px;
}
/*My Insipiration Section*/
.my-insipiration {
  margin: 0px 100px;
  margin-top: 50px;

  margin-bottom: 20px;
}
.content {
  align-items: center;
  text-align: center;
}
.video-container {
  border-radius: 16px;
  text-align: center;
  align-items: center;
  padding: 30px;
  height: 500px;
  border: 1px solid rgb(201, 198, 198);
}
.video-container iframe {
  width: 100%;
  height: 100%;
}
.video-container iframe {
  text-align: center;
  border-radius: 16px;
}
/*Target Section*/
.target {
  margin: 0px 100px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 16px;
}
.target-header {
  font-weight: bolder;
  font-size: 20px;
  color: #0d1321;
}
.items {
  margin: 50px 0px;
  text-align: left;
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  border-radius: 16px;
}
.skill a {
  text-decoration: underline;
  text-decoration-color: black;
  color: black;
  font-weight: bold;
}
.html {
  background-color: #fae4e0;
}
.css {
  background-color: #f3f7fe;
}
.js {
  background-color: #fffdf2;
}
/*picture section*/
.pic {
  margin: 0px 100px;
  margin-bottom: 50px;
  background-image: url("../asset/handshake.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.pic .content {
  padding: 0px 150px;
}
.pic .content h3 {
  color: white;
  margin-top: 70px;
  font-weight: bold;
  font-size: 32px;
}
.pic .content .character {
  color: white;
}
.input {
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.input-field {
  width: 400px;
  height: 30px;

  padding: 10px;
  border-radius: 8px;
}
/*footer*/
.foot {
  display: flex;
  background-color: #f3eeee;

  padding: 0px 100px;
  border-radius: 16px;
  align-items: center;
  justify-content: space-between;
}
.foot p {
  font-weight: 600;
  font-size: 20px;
}
.links a {
  text-decoration: none;
}
